{{#if comments.length}}
  <ul>
    {{#each comments}}
      {{#if @index < 2}}
        <li>
          <h3>{{this.username}}</h3>
          <p>{{this.text}}</p>
          <p>{{this.createdAt}}</p>
        </li>
      {{/if}}
    {{/each}}
  </ul>
{{else}}
  <p>No comments yet.</p>
{{/if}}
<div class="add-comment">
   <form action="/post/{{id}}/comment" method="POST">
      <textarea name="text"></textarea>
      <input type="submit" value="Submit Comment">
   </form>
   </div>
   {{/if}}